[features]
seeds = false
skip-lint = false

[programs.localnet]
chainlink_solana_demo = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "./id.json"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.mainnet-beta.solana.com" # This is the url of the cluster that accounts are cloned from (See `test.validator.clone`).

[[test.validator.clone]]
address = "HEvSKofvBgfaexv23kMabbYqxasxU3mQ4ibBMEmJWHny" #chainlink Sprogram
[[test.validator.clone]]
address = "CcPVS9bqyXbD9cLnTbhhHazLsrua8QMFUHTutPtjyDzq" #chainlink SOL_USD Price feed

[[test.validator.account]]
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
filename = "clones/usdc_clone.json"